/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css?family=Creepster");
$body-color: #eb6123;
$link-color: #63C328;
$font-family-sans-serif: "Creepster";
$font-family-monospace: "Creepster";
